
#gifrow {
	font-family: oswald;
}
.jumbotron {
	background-color: #323232;
	height: 290px;
	color: #ffffff;
	font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
}


#bball{
background-image: url("../images/preindex/basketball.gif");
height:175px;
color: #323232;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;


}

#football {
background-image: url("../images/preindex/football.gif");
height:175px;
color: #ffffff;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;

}


#soccer{
background-image: url("../images/preindex/soccer.gif");
height:175px;

color: #ffffff;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;


}

#baseball{
background-image: url("../images/preindex/baseball.gif");
height:175px;
color: #ffffff;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;

}

#track{
background-image: url("../images/preindex/track.gif");
height:175px;
color: #ffffff;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;
}

#hockey{
background-image: url("../images/preindex/hockey.gif");
height:175px;
color: #ffffff;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;
}
#rugby{
background-image: url("../images/preindex/rugby.gif");
height:175px;
color: #ffffff;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;
}
#volleyball{
background-image: url("../images/preindex/volleyball.gif");
height:175px;
color: #ffffff;
font-size: 60px;
font-family: Oswald;
padding-top: 100px;
}